
#menu-container{
    position: sticky;
    top: 1px;
    z-index: 1;
}
.container-menu{
  background: #FF8C00;
  max-width: 100%;
  margin: 20px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  
}
img{
  width: 70px;
  height: 70px;
  display: block;
}


.item{
  margin: 10px;;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  justify-content: space-between;
}

html{
  scroll-behavior: smooth;
}

@media(max-width:450px){
    nav{
      flex-direction: column;
      text-align: center;
    }
}