.contact{
  background: #FF8C00;
  max-width: 100%;
  margin: 20px;
  border: 20px;
  border-radius: 5px;
  padding: 10px;
  
}

.contact-h1{
  
  color: white;
  font-size: 2rem;
  margin-left: 30px;
  text-shadow: 2px 2px 0px black;
}

.google{
  right: 150px;
  width: 100px;
  margin-left: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.gmail{
  font-size: 1.5rem;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.insta{
  right: 150px;
  width: 100px;
  margin-left: 20px;
  margin-top: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

}
.instagram{
  font-size: 1.5rem;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.link{
  right: 150px;
  width: 100px;
  margin-left: 20px;
  margin-top: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}


.linkedin{
  font-size: 1.5rem;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.git{
  right: 150px;
  width: 100px;
  margin-left: 20px;
  margin-top: 20px;
 
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

.gitpoet{
  font-size: 1.5rem;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}
.moldura-contato{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.502);
  background-color: burlywood;
}
